<nav>
      <div class="logo">
        <img class="rm" src="/images/rmnotext.png" alt="" />
      </div>
      <ul class="log-btns">
        <li><a class="aToReport" href="/reports"><button class="nav-btn bToReport">Back to Reports</button> </a> </li>
        <li><a href="/users/logout"><button class="nav-btn" id="Log-out">Logout</button></a></li>
      </ul>
    </nav>