@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --process: #ffa200;
  --solved: #05a400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

main {
  padding: 20px;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  background-color: rgb(165, 177, 198);
}

.rm {
  width: 30px;
}

.log-btns {
  display: flex;
}
.nav-btn {
  margin-left: 10px;
  padding: 8px 20px;
  box-shadow: 1px 2px 5px 0px rgba(70, 70, 70, 0.309);
  background-color: rgb(182, 214, 255);
  font-weight: 700;
  border-radius: 10px;
  border: none;
  border: rgb(182, 214, 255) solid 2px;
  color: white;
}

.table-btns {
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 5px 0px rgba(70, 70, 70, 0.309);
  background-color: rgb(182, 214, 255);
  font-weight: 700;
}

#row{
  cursor: pointer;
}
#row:hover{
  background-color:   rgba(0, 51, 168, 0.31);
}

button:hover {
  background-color: rgb(195, 221, 255);
}

button:active {
  box-shadow: 0 0 0 rgba(70, 70, 70, 0.309);
}

ul {
  list-style: none;
  padding: 0;
}

.content-table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  background-color: rgb(165, 177, 198);
}

tbody tr {
  border-bottom: 0.5px solid rgba(165, 177, 198, 0.534);
}

tbody tr:nth-of-type(even) {
  background-color: rgba(198, 214, 242, 0.431);
}

tbody tr:last-of-type {
  border-bottom: 2px solid rgb(165, 177, 198);
}
td,
th {
  padding: 5px 10px;
}

.status-container {
  display: none;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 5px;
}

.status {
  border: solid 2px transparent;
  border-radius: 16px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.status-process {
  border-color: var(--process);
  color: var(--process);
}

.circle-process {
  background: var(--process);
}
.circle-solved {
  background: var(--solved);
}
.status-solved {
  border-color: var(--solved);
  color: var(--solved);
}

.reportBtn {
  background: white;
  border: rgb(182, 214, 255) solid 2px;
  color: rgb(182, 214, 255);
  transition: all ease-in 0.8s;
}

.reportBtn:hover {
  color: white;
  border: rgb(255, 255, 255) solid 2px;
  transition: all ease-out 0.5s;
}

.report-modal {
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vh;
  left: 400px;
  transition: all ease-in-out 1s;
}

.view-report-modal {
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vh;
  right: -1000px;
  transition: all ease-in-out 1s;
}

.view-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#view a{
  text-decoration: none;
  color: rgb(182, 214, 255);
}
#view a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.report-modal form {
  background-color: rgb(165, 177, 198);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: 150px;
  left: 40px;
  width: 300px;
  max-width: 370px;
  transition: all ease-in-out 2s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.252);
}

.form-title {
  width: 95%;
  margin: 0;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  border-left: solid rgb(187, 216, 255);
}

.in_container,
.text_container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

.in_container:focus-within {
  outline: solid rgb(187, 216, 255);
}

textarea {
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  border-left: solid rgb(187, 216, 255);
  border-radius: 0 5px 5px 0;
}

.text_container:focus-within {
  outline: solid rgb(187, 216, 255);
}

.form-btns {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#report-img {
  width: 200px;
  padding: 8px 20px;
}

#enviar {
  margin: 10px 0;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 5px 0px rgba(70, 70, 70, 0.309);
  background-color: rgb(182, 214, 255);
  font-weight: 700;
  cursor: pointer;
  color: white;
}

#enviar:hover {
  background-color: rgb(195, 221, 255);
}

#enviar:active {
  box-shadow: 0 0 0 rgba(70, 70, 70, 0.309);
}

.date {
  display: none;
}

.view {
  padding: 2px 4px;
  font-weight: bold;
  border: solid 2px rgb(182, 214, 255);
  border-radius: 8px;
  color: rgb(182, 214, 255);
  background: white;
  box-shadow: 1px 1px 2px rgba(79, 79, 79, 0.5);
}

.view:hover {
  padding: 2px 4px;
  background: rgb(182, 214, 255);
  color: white;
  border-color: whitesmoke;
  box-shadow: 1px 1px 2px rgba(79, 79, 79, 0.5);
  transition: all ease-in 0.2s;
}

.view:active {
  box-shadow: 0px 0px 0px rgba(79, 79, 79, 0.5);
  transition: all ease-in-out 0.2s;
}

.no_reports {
  width: 100%;
}

.bx {
  color: rgb(182, 214, 255);
  padding: 10px;
}

.close-modal {
  background: rgb(255, 119, 119);
  border: none;
  color: white;
  position: absolute;
  padding: 5px 10px;
  left: 335px;
  top: 5px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1.4rem;
}

.view-close-modal {
  background: rgb(255, 119, 119);
  border: none;
  color: white;
  position: absolute;
  padding: 5px 10px;
  left: 580px;
  top: 10px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1.4rem;
}

@media all and (min-width: 400px) {
  .status-container {
    display: flex;
  }

  .report-modal {
    width: 100vw;
    left: 2290px;
  }

  .report-modal form {
    position: relative;
    top: 150px;
    left: 36%;
    width: fit-content;
    max-width: 60%;
    transition: all ease-in-out 2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.252);
  }

  .form-title {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  textarea {
    width: 100%;
  }

  .close-modal {
    left: 90%;
    top: 18px;
  }

  table {
    width: 90%;
    text-align: center;
  }

  .date {
    display: block;
  }
}
